#!/usr/bin/expect -f
set timeout -1

set pw $env(PDAC_REMOTE_PASSWORD)
set host "REMOTE_HOST_OR_IP"
set user "REMOTE_USER"
set mode [lindex $argv 0]

if {$mode eq "script"} {
  set local_script [lindex $argv 1]
  spawn sh -c "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${user}@${host} 'bash -s' < '$local_script'"
} else {
  set cmd [lindex $argv 0]
  spawn ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${user}@${host} "$cmd"
}

expect {
  -re ".*assword:.*" { send "$pw\r"; exp_continue }
  eof
}

catch wait result
set exit_status [lindex $result 3]
exit $exit_status
