process {
  executor = 'local'
  cpus = 2
  memory = '8.GB'
  time = '24.h'

  withLabel:process_single {
    cpus = 1
    memory = '4.GB'
    time = '8.h'
  }

  withLabel:process_low {
    cpus = 2
    memory = '8.GB'
    time = '12.h'
  }

  withLabel:process_medium {
    cpus = 4
    memory = '24.GB'
    time = '24.h'
  }

  withLabel:process_high {
    cpus = 8
    memory = '48.GB'
    time = '48.h'
  }

  withLabel:process_high_memory {
    cpus = 8
    memory = '48.GB'
    time = '48.h'
  }

  withName: 'FASTQC' {
    cpus = 2
    memory = '4.GB'
  }

  withName: 'FASTP' {
    cpus = 8
    memory = '8.GB'
  }

  withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
    cpus = 8
    memory = '32.GB'
  }

  withName: 'CNVKIT_BATCH' {
    cpus = 8
    memory = '32.GB'
  }

  withName: 'GATK4_MARKDUPLICATES|GATK4SPARK_MARKDUPLICATES' {
    cpus = 4
    memory = '24.GB'
  }

  withName: 'STRELKA.*|MANTA.*' {
    cpus = 8
    memory = '16.GB'
  }

  withName: 'MULTIQC' {
    cpus = 2
    memory = '8.GB'
  }
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/media/user/SEQ/containers/nextflow_singularity'
}

apptainer {
  enabled = false
  autoMounts = true
  cacheDir = '/media/user/SEQ/containers/nextflow_apptainer'
}

params {
  igenomes_ignore = true
  outdir = '/media/user/SEQ/results/sarek'
  save_reference = true
}
