process {
  executor = 'local'
  cpus = 4
  memory = '24.GB'
  time = '24.h'

  withLabel:process_single {
    cpus = 1
    memory = '4.GB'
    time = '8.h'
  }

  withLabel:process_low {
    cpus = 2
    memory = '8.GB'
    time = '12.h'
  }

  withLabel:process_medium {
    cpus = 4
    memory = '24.GB'
    time = '24.h'
  }

  withLabel:process_high {
    cpus = 8
    memory = '48.GB'
    time = '48.h'
  }

  withLabel:process_high_memory {
    cpus = 8
    memory = '48.GB'
    time = '48.h'
  }

  withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
    cpus = 8
    memory = '48.GB'
  }

  withName: '.*:ALIGN_STAR:STAR_ALIGN|.*:ALIGN_STAR:STAR_ALIGN_IGENOMES|.*:ALIGN_STAR:SENTIEON_STAR_ALIGN|.*:ALIGN_STAR:PARABRICKS_RNA_FQ2BAM' {
    cpus = 8
    memory = '48.GB'
  }

  withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SALMON_QUANT|.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT|.*:QUANTIFY_BAM_SALMON:SALMON_QUANT' {
    cpus = 4
    memory = '24.GB'
  }
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${System.getProperty('user.home')}/.cache/nextflow/singularity"
}

apptainer {
  enabled = false
  autoMounts = true
  cacheDir = System.getenv('NXF_APPTAINER_CACHEDIR') ?: "${System.getProperty('user.home')}/.cache/nextflow/apptainer"
}

params {
  igenomes_ignore = true
  aligner = 'star_salmon'
  pseudo_aligner = 'salmon'
}
