data.table
AnnotationDbi
Biobase
DESeq2
edgeR
fgsea
GEOquery
hgu133plus2.db
hugene10sttranscriptcluster.db
limma
matrixStats
GSVA
GenomicRanges
ComplexHeatmap
circlize
ggplot2
patchwork
MCPcounter
immunedeconv
